html {
    color: #333;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: Arial,x-locale-body,sans-serif;
  letter-spacing: -.00278rem;
  font-size: 1rem;
}

/* Header */

header {
  background: #fff;
  border-top: 5px solid #83d0f2;
  display: flex;
  padding: 15px 15px 0;
  padding-top: 0;
  padding-right: 0;
  margin: 0;
}

header a {  
  text-decoration: none;
  color: #333;
  display: inline-block;
  padding: 0 10px;
}

/* Nav list */
nav {
  margin-right: auto;
}

nav ul {
  list-style: none;
}

nav > ul {
  display: flex;
  margin: 0;
  padding-left: 0;
}

nav ul li a {
  line-height: 88px;
  padding-right: 14.5px;
}

nav li:hover {
  background: #eee;
}

.logo {
  background: url(./img/mdn-logo-sprite.svg) 100% 0 no-repeat;
  padding: 0;
  /* padding-left: 11.5rem; */
  margin-top: 15px;
  flex-shrink: 1;
  text-indent:-9999px;
  overflow:hidden;
  width: 219px;
  height: 48px;
}

/* Dropdowns */
.dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin-top: 1rem;
  display: none;
  background: #fff;
  border-top: 5px solid #eee;
  box-shadow: 0px 4px 5px rgba(1, 1, 1, 0.15), 
        -1px 1px 0.5px rgba(1, 1, 1, 0.1), 1px 1px 0.5px rgba(1, 1, 1, 0.1);
}

header li:hover > .dropdown,
.dropdown:hover {
  visibility: visible;
  opacity: 1;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

.dropdown li a {
  line-height: 2.5;
  color: #3d7e9a;
  display: block;
}

.dropdown li:first-child {
  margin-top: 20px;
}
.dropdown li:last-child {
  margin-bottom: 20px;
}

.dropdown a:hover {
  text-decoration: underline;
}

.dropdown li:hover {
  background: none;
}

.dropdown svg {
  fill: #3d7e9a;
}

/* Sign in and search form */
.sign-in {
  align-self: center;
  background: url(./img/GitHub-Mark-32px.png) no-repeat 92% 40%;
  background-size: 24px 24px;
  padding-right: 34px;
  line-height: 88px;
}

.sign-in:hover {
  background-color: #eee;
}

.header-form {
  align-self: center;
  line-height: 88px;
  background: #222;
  width: 450px;
}

.header-form input {
  background: #222;
  color: #fff;
  outline: none;
  height: 2rem;
  border: 0;
  border-bottom: 1px solid #fff;
  font-size: 1rem;
  margin-left: 65px;
  width: 335px;
}

.header-form .icon-search {
  fill: #fff;
  position: absolute;
  margin-left: 15px;
  top: 31px;
}

/* Main content */

/* Search section */
.main-search {
  display: flex;
  flex-flow: column;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
  padding-top: 150px;
  padding-bottom: 78px;
  background: #83d0f2;
  background-image: url(./img/hero-dino.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 20px;
}

.main-search ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-search h1 {
  margin: 0;
  border: 0;
  font-size: 2.33333rem;
  font-family: x-locale-heading-primary,zillaslab,Palatino,"Palatino Linotype",x-locale-heading-secondary,serif;
  font-weight: 400;
  letter-spacing: 0.018em;
  line-height: 1.25;
  padding: 0 4px;
  background: #333;
  color: #fff;
  height: 45px;
  margin-bottom: 41px;
}

.main-search form {
  position: relative;
}

.main-search form input {
  width: 775px;
  height: 64px;
  border: 2px solid #999;
  padding-left: 70px;
  font-size: 1rem;
  margin-bottom: 41px;
}

.main-search form input::placeholder {
  color: #333;
  font-size: 1.01rem;  
  transform: scale(1.022, 1);
  letter-spacing: 0.005rem;
  padding-left: 7.4px;
}

.main-search svg {
  position: absolute;
  /* top: 52.4%; */
  /* top: 10%; */
  margin-left: 22px;
  margin-top: 20px;
  z-index: 1;
  color: #4f5b66;
  border-right: 1px solid #999; 
  padding: 4px 0;
  padding-right: 16px;
}

.main-search ul {
  display: flex;
  width: 775px;
  justify-content: space-between;
}

.main-search a {
  text-decoration: none;
  color: #222;
  letter-spacing: 0.025rem;
  border-bottom: 2px solid #222;
  padding-right: 89px;
  padding-bottom: 15px;
  background: url(./img/right-arrow.svg) no-repeat;
  background-size: 16px 16px;
  background-position: 98% 0;
  transition: 0.1s;

}

.main-search a:hover {
  transition: 0.1s;
  background-position: 100% 0;
}